[submodule "tp-final-infornuage-2283110-frontend"]
	path = tp-final-infornuage-2283110-frontend
	url = https://github.com/Nchargui/tp-final-infornuage-2283110-frontend.git
[submodule "tp-final-infornuage-2283110-backnend"]
	path = tp-final-infornuage-2283110-backnend
	url = https://github.com/Nchargui/tp-final-infornuage-2283110-backend.git
